<p>App: <%= @app_id %></p>
<div class="columns">
  <div class="column">
    <%#
    id: is necessary to have a statful component. We pass the
    app_id so we can reset the component if we would change which
    app we are viewing.
    %>
    <%= live_component @socket, ConsoleChannelsListComponent,
      id: @app_id,
      app_id: @app_id,
      active_channels: @active_channels %>
  </div>
  <div class="column">
    Hoi !
  </div>
</div>
